.App {
  display: grid;
  grid-template-columns: minmax(min-content, 900px);
  justify-content: center;
}

.App-header {
  color: #222;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-inputs {
  display: flex;
  flex-direction: column;
}